html,
body {
    height:100%;
    width:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}
#header {

}
#content {
}
#footer {
    background:#333333;
    color: #ffffff;
    height:30px;
    position:relative;
    bottom:0;
    width:100%;
}